<!DOCTYPE html>
<html lang="en">
<head>
    <title>Furama Resort</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css" href="/style/bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style/bootstrap4/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/style/css/style_error.css">
</head>
<body>
<div class="cont_principal">
    <div class="cont_error">

        <h1>404 NOT FOUND</h1>
        <p>The Page you're looking for isn't here.</p>
        <p>
            <input type="button" class="btn btn-outline-info" action="action" onclick="history.go(-1);" value="Back"/>
        </p>
    </div>
    <div class="cont_aura_1"></div>
    <div class="cont_aura_2"></div>
</div>
<script src="/style/js/style_error.js"></script>
</body>
</html>