<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headTag">
    <title>Blog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <!--Icon-->
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
            integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
            crossorigin="anonymous"
    />
    <style>
        .invalid-feedback{
            display: block !important;
        }
    </style>
</head>
<body>

<div class="container col-8">
    <table class="table table-hover">
        <thead></thead>
        <tbody>
        <form th:action="@{/createUser}" method="post" th:object="${user}">
            <input type="hidden" class="form-control" th:field="*{id}"/>
            <tr class="form-group">
                <td>First name:</td>
                <td>
                    <input class="form-control" type="text" th:field="*{firstName}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                </td>
            </tr>
            <tr class="form-group">
                <td>Last name:</td>
                <td>
                    <input class="form-control" type="text" th:field="*{lastName}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                </td>
            </tr>
            <tr class="form-group">
                <td>Phone number:</td>
                <td>
                    <input class="form-control" type="text" th:field="*{phoneNumbers}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('phoneNumbers')}" th:errors="*{phoneNumbers}"></div>
                </td>
            </tr>
            <tr class="form-group">
                <td>Age:</td>
                <td>
                    <input class="form-control" type="text" th:field="*{age}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
                </td>
            </tr>
            <tr class="form-group">
                <td>Email:</td>
                <td>
                    <input class="form-control" type="text" th:field="*{email}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </td>
            </tr>
            <tr class="form-group">
                <td></td>
                <td><input class="btn btn-sm btn-outline-success" type="submit" value="Register"></td>
            </tr>
        </form>
        </tbody>
    </table>
</div>

<th:block th:fragment="script">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous">
    </script>
</th:block>
</body>
</html>