<div class="card mt-5 col-8">

  <h3 class="card-header text-uppercase">login</h3>
  <table class="table table-hover">
    <thead></thead>
    <tbody>
    <tr>
      <td>Email</td>
      <input class="form-control" type="text">
      <span class="invalid-feedback">Email not exist.</span>
    </tr>
    <tr>
      <td>Password</td>
      <input class="form-control" type="password">
      <span class="invalid-feedback">Wrong password.</span>
    </tr>
    <tr>
      <td class="text-success text-uppercase">
        login success
      </td>
      <td>
        <button class="btn btn-outline-success" type="submit">Login</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

