<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Detail</title>
</head>
<body>
<div>
    <h1>List book</h1>
    <table>
        <tbody>
        <form th:action="@{/borrowBook}" method="post" th:object="${book}">
            <tr>
                <td>ID</td>
                <td>
                    <input type="text" th:field="*{id}" disabled>
                    <input type="hidden" th:field="*{id}">
                </td>
            </tr>
            <tr>
                <td>Book name</td>
                <td>
                    <input type="text" th:field="*{name}" disabled>
                    <input type="hidden" th:field="*{name}">
                </td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td>
                    <input type="text" th:field="*{quantity}" disabled>
                    <input type="hidden" th:field="*{quantity}">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Borrow">
                </td>
            </tr>
        </form>
        </tbody>
    </table>
</div>
</body>
</html>