<div class="card mt-5 col-8">
  <h3 class="card-header text-uppercase">register</h3>
  <table class="table table-hover">
    <thead></thead>
    <tbody>
    <tr>
      <td>Email</td>
      <input class="form-control" type="text">
      <span class="invalid-feedback">Email invalid</span>
    </tr>
    <tr>
      <td>Password</td>
      <input class="form-control" type="password">
      <span class="invalid-feedback">Wrong password (6 characters min).</span>
    </tr>
    <tr>
      <td>Confirm password</td>
      <input class="form-control" type="password">
      <span class="invalid-feedback">Wrong confirm password.</span>
    </tr>
    <tr>
      <td>Country</td>
      <input class="form-control" type="text">
      <span class="invalid-feedback">Wrong country.</span>
    </tr>
    <tr>
      <td>Age</td>
      <input class="form-control" type="number">
      <span class="invalid-feedback">Age must over 18 year old.</span>
    </tr>
    <tr>
      <td>Phone</td>
      <input class="form-control" type="text">
      <span class="invalid-feedback">Wrong! +84xxxxxxxxx.</span>
    </tr>
    <tr>
      <td class="text-success text-uppercase">
        register success
      </td>
      <td>
        <button class="btn btn-outline-success" type="submit">Register</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
