<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layouts/layout_main :: headTag"></head>
<body>
<div class="container-fluid row">
    <div th:replace="/layouts/layout_main :: left_menu"></div>
    <div class="main_content col-10">
        <h1>List Blogs</h1>
        <div th:replace="/layouts/layout_main :: notification"></div>
        <nav class="navbar navbar-expand-sm">
            <div class="navbar-collapse">
                <a th:href="@{/admin/viewCreateBlog}" class="btn btn-sm btn-outline-success"><i class="fas fa-plus"></i></a>
            </div>
            <form class="form-inline my-2 my-lg-0" th:action="@{/admin/listSearchBlogs}" method="GET">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search" th:value="${search}"/>
                <button class="btn btn-sm btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </nav>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>No</th>
                <th>ID</th>
                <th>Title Blog</th>
                <th>Author</th>
                <th>Category</th>
                <th>Date create</th>
                <th>Description</th>
                <th>Option</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="list,iterStat : ${blogs}">
                <tr>
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${list.id}"></td>
                    <td th:text="${list.title}"></td>
                    <td th:text="${list.authorName}"></td>
                    <td th:text="${list.category.name}"></td>
                    <td th:text="${list.dateCreated}"></td>
                    <td th:text="${list.description}"></td>
                    <td>
                        <a th:href="@{/admin/viewDetailBlog(id=${list.id})}"
                           class="btn btn-sm btn-outline-primary"><i class="far fa-eye"></i></a>
                        <a th:href="@{/admin/viewEditBlog(id=${list.id})}"
                           class="btn btn-sm btn-outline-warning"><i class="far fa-edit"></i></a>
                        <button class="btn btn-sm btn-outline-danger"
                                data-toggle="modal"
                                data-target="#delBlogModal"
                                th:onclick="'getDelBlogId(\''+ ${list.id} +'\')'">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div>
            <a th:href="@{'/admin/listBlogs'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
            <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
            <a th:href="@{'/admin/listBlogs'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">Next</a>
        </div>
    </div>
</div>
<div th:replace="/layouts/layout_main :: delBlogModal"></div>
<div th:replace="/layouts/layout_main :: script"></div>

</body>
</html>
