<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout :: headTag}"></head>
<body>
<div th:replace="~{/layout :: header-line}"></div>
<div th:replace="~{/layout :: banner}"></div>
<div th:replace="~{/layout :: navbar_menu}"></div>

<div class="container-fluid">
    <div class="main_content col-12">
        <h1>List Contract</h1>
        <div th:replace="/layout :: notification"></div>
        <div th:replace="/layout :: nav-table-contract"></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>No</th>
                <th>ID</th>
                <th>Service</th>
                <th>Customer</th>
                <th>Employee</th>
                <th>Start day</th>
                <th>End day</th>
                <th>Deposit</th>
                <th>Total money</th>
                <th>Contract detail</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="list,iterStat : ${contracts}">
                <tr>
                    <td th:text="${iterStat.count}"></td>
                    <td class="font-weight-bold" th:text="${list.contractId}"></td>
                    <td th:text="${list.service.serviceName}"></td>
                    <td th:text="${list.customer.customerName}"></td>
                    <td th:text="${list.employee.employeeName}"></td>
                    <td th:text="${list.contractStartDate}"></td>
                    <td th:text="${list.contractEndDate}"></td>
                    <td th:text="${list.contractDeposit}"></td>
                    <td th:text="${list.contractTotalMoney}"></td>
                    <td>
                        <button class="btnModalAddContractDetail btn btn-sm btn-outline-success" type="button"
                                th:value="${list.contractId}" name="contractId" data-toggle="tooltip"
                                data-placement="left"
                                title="Add new Contract Detail">
                            <i class="bi bi-plus"></i>
                        </button>
                        <button class="btnModalDetailContract btn btn-sm btn-outline-primary" type="button"
                                th:value="${list.contractId}" name="contractId" data-toggle="tooltip"
                                data-placement="left"
                                title="view Contract Detail">
                            <i class="bi bi-eye"></i>
                        </button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>


<div th:replace="~{layout :: mini-footer}"></div>
<div th:replace="~{layout :: script_link}"></div>
<div th:replace="~{layout :: contract_script}"></div>
<div th:replace="~{layout :: alert_script}"></div>
<div th:replace="~{layout :: modal}"></div>
</body>
</html>