<div class="container" xmlns:th="http://www.thymeleaf.org">
    <h2 class="text-info" >
        <span th:text="${contract.service.serviceName}"></span>'s contract detail
    </h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Contract ID</th>
            <th>Contract Detail ID</th>
            <th>Attach Service</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="list, iterStat : ${listContractDetail}">
            <tr>
                <th th:if="${iterStat.first}" th:text="${contract.contractId}"></th>
                <td th:if="${!iterStat.first}"></td>
                <td th:text="${list.contractDetailId}"></td>
                <td th:text="${list.attachService.attachServiceName}"></td>
                <td th:text="${list.quantity}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>