<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: headTag"></head>
<body>
<table class="table">
    <thead></thead>
    <tbody>
    <tr class="form-group">
        <td>ID</td>
        <td>
            <input type="text" class="form-control" disabled th:field="*{customerDel.customerId}"/>
        </td>
    </tr>
    <tr class="form-group">
        <td>Name:</td>
        <td>
            <input type="text" class="form-control" disabled th:field="*{customerDel.customerName}"/>
        </td>
    </tr>
    <tr class="form-group">
        <td>Birth day:</td>
        <td>
            <input type="text" class="form-control" disabled th:field="*{customerDel.customerBirthday}"/>
        </td>
    </tr>
    <tr class="form-group">
        <td>Gender:</td>
        <td>
            <th:block th:switch="${customerDel.customerGender}">
                <input th:case="true" type="text" class="form-control" disabled value="Male"/>
                <input th:case="false" type="text" class="form-control" disabled value="Female"/>
            </th:block>
        </td>
    </tr>
    <tr class="form-group">
        <td>ID card:</td>
        <td>
            <input type="text" class="form-control" disabled th:field="*{customerDel.customerIdCard}"/>
        </td>
    </tr>
    <tr class="form-group">
        <td>Phone:</td>
        <td>
            <input type="text" class="form-control" disabled th:field="*{customerDel.customerPhone}"/>
        </td>
    </tr>
    <tr class="form-group">
        <td>Email:</td>
        <td>
            <input type="text" class="form-control" disabled th:field="*{customerDel.customerEmail}"/>
        </td>
    </tr>
    <tr class="form-group">
        <td>Address:</td>
        <td>
            <input type="text" class="form-control" disabled th:field="*{customerDel.customerAddress}"/>
        </td>
    </tr>
    <tr class="form-group">
        <td>Customer type:</td>
        <td>
            <input type="text" class="form-control" disabled th:field="*{customerDel.customerType.customerTypeName}"/>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <form th:action="@{/customer/delete}" method="POST">
                <input type="hidden" name="customerId" th:value="${customerDel.customerId}"/>
                <button class="btn btn-outline-danger btn-sm" type="submit">
                    Delete
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div th:replace="~{/layout :: script_link}"></div>
<div th:replace="~{/layout :: modal}"></div>
</body>
</html>