<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout :: headTag}"></head>
<body>
<div th:replace="~{/layout :: header-line}"></div>
<div th:replace="~{/layout :: banner}"></div>
<div th:replace="~{/layout :: navbar_menu}"></div>

<div class="container">
    <form th:action="@{/customer/edit}" method="POST" th:object="${customerEdit}">
        <table class="table table-hover">
            <thead></thead>
            <tbody>
            <tr class="form-group">
                <h2 class="text-info text-uppercase">edit</h2>
            </tr>
            <input type="hidden" th:field="*{customerId}"/>
            <tr class="form-group">
                <td>Name:</td>
                <td>
                    <input type="text" class="form-control" th:field="*{customerName}"/>
                </td>
            </tr>
            <tr class="form-group">
                <td>Birth day:</td>
                <td>
                    <input type="date" class="form-control" th:field="*{customerBirthday}"/>
                    <p th:if="${#fields.hasErrors('customerBirthday')}" th:errors="*{customerBirthday}"
                       class="invalid-feedback"></p>
                </td>
            </tr>
            <tr class="form-group">
                <td>Gender:</td>
                <td>
                    <div class="form-check-inline">
                        <input type="radio" id="male" name="gender" value="true" checked>
                        <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" id="female" name="gender" value="false">
                        <label class="form-check-label" for="female">Female</label>
                    </div>
                </td>
            </tr>
            <tr class="form-group">
                <td>ID card:</td>
                <td>
                    <input type="text" class="form-control" th:field="*{customerIdCard}" placeholder="9 or 12 digits"/>
                    <p th:if="${#fields.hasErrors('customerIdCard')}" th:errors="*{customerIdCard}"
                       class="invalid-feedback"></p>
                </td>
            </tr>
            <tr class="form-group">
                <td>Phone:</td>
                <td>
                    <input type="text" class="form-control" th:field="*{customerPhone}"
                           placeholder="090xxxxxxx, 091xxxxxxx, (84)+90xxxxxxx, (84)+91xxxxxxx"/>
                    <p th:if="${#fields.hasErrors('customerPhone')}" th:errors="*{customerPhone}"
                       class="invalid-feedback"></p>
                </td>
            </tr>
            <tr class="form-group">
                <td>Email:</td>
                <td>
                    <input type="email" class="form-control" th:field="*{customerEmail}"/>
                    <p th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}"
                       class="invalid-feedback"></p>
                </td>
            </tr>
            <tr class="form-group">
                <td>Address:</td>
                <td>
                    <input type="text" class="form-control" th:field="*{customerAddress}"/>
                </td>
            </tr>
            <tr class="form-group">
                <td>Customer type:</td>
                <td>
                    <select th:field="*{customerType}" class="form-control">
                        <option th:each="type : ${listCustomerType}"
                                th:value="${type.customerTypeId}"
                                th:text="${type.customerTypeName}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/customer/}" class="btn btn-outline-info btn-sm col-6">
                        Back
                    </a>
                </td>
                <td>
                    <button class="btn btn-outline-success btn-sm col-12" type="submit">
                        Update
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <div th:replace="~{/layout :: script_link}"></div>
</div>
</body>
</html>