<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout :: headTag}"></head>
<body>
<div th:replace="~{/layout :: header-line}"></div>
<div th:replace="~{/layout :: banner}"></div>
<div th:replace="~{/layout :: navbar_menu}"></div>

<div class="container">
    <div class="main_content col-12">
        <h1>List Customer</h1>
        <div th:replace="/layout :: notification"></div>
        <div th:replace="/layout :: nav-table-customer"></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>No</th>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Customer Type</th>
                <th>ID card</th>
                <th>Option</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="list,iterStat : ${listCustomer}">
                <tr>
                    <td th:text="${iterStat.count}"></td>
                    <td class="font-weight-bold" th:text="${list.customerId}"></td>
                    <td th:text="${list.customerName}"></td>
                    <th:block th:switch="${list.customerGender}">
                        <td th:case="true">Male</td>
                        <td th:case="false">Female</td>
                    </th:block>
                    <td th:text="${list.customerType.customerTypeName}"></td>
                    <td th:text="${list.customerIdCard}"></td>
                    <td>
                        <button class="btnModalDetail btn btn-sm btn-outline-primary" type="button"
                                th:value="${list.customerId}">
                            <i class="bi bi-eye"></i>
                        </button>
                        <button class="btnModalEdit btn btn-sm btn-outline-warning" type="button"
                                th:value="${list.customerId}">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button class="btnModalDelete btn btn-sm btn-outline-danger" type="button"
                                th:value="${list.customerId}">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>

        <div class="row">
            <a class="btn btn-sm btn-outline-secondary rounded-pill"
               th:href="@{'/customer/'(page=${listCustomer.number - 1})}"
               th:if="${listCustomer.hasPrevious()}">
                <i class="bi bi-arrow-left-circle-fill"></i>
            </a>
            <p class="btn btn-sm btn-outline-secondary rounded-pill pl-5 pr-5 mb-0" th:if="${listCustomer.totalPages != 0}">
                <span th:text="${listCustomer.number + 1}"></span>/<span th:text="${listCustomer.totalPages}"></span>
            </p>
            <a class="btn btn-sm btn-outline-secondary rounded-pill"
               th:href="@{'/customer/'(page=${listCustomer.number + 1})}"
               th:if="${listCustomer.hasNext()}">
                <i class="bi bi-arrow-right-circle-fill"></i>
            </a>
        </div>
    </div>
</div>

<div th:replace="~{layout :: mini-footer}"></div>
<div th:replace="~{layout :: script_link}"></div>
<div th:replace="~{layout :: alert_script}"></div>
<div th:replace="~{layout :: customer_script}"></div>
<div th:replace="~{layout :: modal}"></div>
</body>
</html>