<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout :: headTag}"></head>
<body>
<div th:replace="~{/layout :: header-line}"></div>
<div th:replace="~{/layout :: banner}"></div>
<div th:replace="~{/layout :: navbar_menu}"></div>
<div class="container">
    <div class="main_content col-12">
        <h1>List Customer Using Service</h1>
        <div th:replace="/layout :: notification"></div>
        <div th:replace="/layout :: nav-table-customer-using"></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>No</th>
                <th>Contract ID</th>
                <th>Customer ID</th>
                <th>Customer Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Attach service & quantity</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="list, iterStat : ${listUsingCustomer}">
                <tr>
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${list.contractId}"></td>
                    <td th:text="${list.customer.customerId}"></td>
                    <td th:text="${list.customer.customerName}"></td>
                    <td th:text="${list.contractStartDate}"></td>
                    <td th:text="${list.contractEndDate}"></td>
                    <td>
                        <th:block th:each="listCDS : ${list.contractDetailSet}">
                            <p>
                                <span th:text="${listCDS.attachService.attachServiceName}" class="mr-1"></span>
                                <span th:text="${listCDS.quantity}"></span>
                            </p>
                        </th:block>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>

        <div class="row">
            <a class="btn btn-sm btn-outline-secondary rounded-pill"
               th:href="@{'/customer/'(page=${listUsingCustomer.number - 1})}"
               th:if="${listUsingCustomer.hasPrevious()}">
                <i class="bi bi-arrow-left-circle-fill"></i>
            </a>
            <p class="btn btn-sm btn-outline-secondary rounded-pill pl-5 pr-5 mb-0">
                <span th:text="${listUsingCustomer.number + 1}"></span>/<span
                    th:text="${listUsingCustomer.totalPages}"></span>
            </p>
            <a class="btn btn-sm btn-outline-secondary rounded-pill"
               th:href="@{'/customer/'(page=${listUsingCustomer.number + 1})}"
               th:if="${listUsingCustomer.hasNext()}">
                <i class="bi bi-arrow-right-circle-fill"></i>
            </a>
        </div>
    </div>
</div>

<div th:replace="~{layout :: script_link}"></div>
<div th:replace="~{layout :: mini-footer}"></div>
</body>
</html>