<div class="card border-primary mt-3">
  <div class="card-body">
    <h4 class="card-title bg-light">product list</h4>
    <table class="table table-hover" *ngIf="products.length != 0">
      <thead>
      <tr>
        <td>NO</td>
        <td>Name</td>
        <td>Price</td>
        <td>Date of manufacture</td>
        <td>Origin</td>
        <td>Status</td>
        <td>Option</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of products; let i = index">
        <td>{{i + 1}}</td>
        <td>{{item.name | titlecase}}</td>
        <td>{{item.price | currency: 'VND':true}}</td>
        <td>{{item.date | date: 'dd/MM/yyyy'}}</td>
        <td>{{item.origin}}</td>
        <td [ngStyle]="{
            'color': item.status == 0 ? 'red' : ''
          }">
          <span *ngIf="item.status == 0">Out of stock</span>
          <span *ngIf="item.status < 10">Little inventory</span>
          <span *ngIf="item.status >= 10">Inventory much</span>
        </td>
        <td>
            <span class="btn btn-primary">
              <i class="bi bi-eye"></i>
            </span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="text-uppercase font-weight-bold text-danger" *ngIf="products.length == 0">
      No products, need to add new products
    </div>
  </div>
</div>
