<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: head}"></head>
<body>
<div th:insert="~{layout :: header}"></div>

<div class="container">
    <h1 style="color: teal" class="text-center">List Customer of Province <span th:text="${provinceName}"></span></h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>No</th>
                <th>Province Name</th>
                <th>List Customer</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="customer, iterStat : ${listCustomer}">
                <tr>
                    <td th:text="${iterStat.count}"></td>
                    <th th:if="${iterStat.first}">
                        <p th:text="${provinceName}"></p>
                    </th>
                    <td th:if="!${iterStat.first}">
                    </td>
                    <td th:text="${customer.name}"></td>
                </tr>
            </th:block>
            <tr>
                <td></td>
                <td>
                    <a th:href="@{/customer}">
                        <button class="btn btn-sm btn-outline-info">Back to Customer List</button>
                    </a>
                </td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div th:replace="/layout :: script"></div>
<div th:insert="~{layout :: footer}"></div>
</body>
</html>