<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="headTag">
        <title>Blog</title>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta
                name="viewport"
                content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <!-- Bootstrap CSS -->
        <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                crossorigin="anonymous"
        />
        <!--Icon-->
        <link
                rel="stylesheet"
                href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
                integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
                crossorigin="anonymous"
        />
    </head>
    <body>
        <div th:fragment="notification">
            <div class="alert alert-success alert-dismissible fade show" th:if="${createSuccess}">
                <button type="button" class="close" data-dismiss="alert">
                    &times;
                </button>
                <strong>
                    <i class="fas fa-check-circle"></i>
                </strong>
                <span th:text="${createSuccess}"></span>
            </div>
            <div class="alert alert-success alert-dismissible fade show" th:if="${editSuccess}">
                <button type="button" class="close" data-dismiss="alert">
                    &times;
                </button>
                <strong>
                    <i class="fas fa-check-circle"></i>
                </strong>
                <span th:text="${editSuccess}"></span>
            </div>
            <div class="alert alert-success alert-dismissible fade show" th:if="${deleteSuccess}">
                <button type="button" class="close" data-dismiss="alert">
                    &times;
                </button>
                <strong>
                    <i class="fas fa-check-circle"></i>
                </strong>
                <span th:text="${deleteSuccess}"></span>
            </div>
        </div>

        <div th:fragment="delModal">
            <!-- Confirm delete modal -->
            <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delete-confirm-label"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header flex-column justify-content-center text-center border-0">
                            <button type="button" class="close btn shadow-none" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title w-100 text-center mt-4">Are you really want to delete?</h4>
                        </div>
                        <div class="modal-body text-center border-0">
                        </div>
                        <div class="modal-footer justify-content-center text-center border-0 mb-3">
                            <form th:action="@{/admin/deleteBlog}" method="POST">
                                <input type="hidden" name="id" id="deleteId">
                                <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">
                                    Cancel
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function getProductId(id) {
                    document.getElementById("deleteId").value = id;
                }
            </script>
        </div>

        <div th:fragment="script">
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                    crossorigin="anonymous">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                    crossorigin="anonymous">
            </script>
        </div>
    </body>
</html>