<div class="head_line d-flex justify-content-between m-3">
  <div class="small">Stop holding yourself back.</div>
  <div class="small">View this email in your browser.</div>
</div>
<div class="picture d-flex justify-content-center m-3">
  <img src="./assets/img/ca9278a0-af3c-4fd1-b3a4-4bf53136a180.jpg" alt="" width="30%">
</div>
<div class="bg-picture pt-3 pl-5 pb-3 pr-5 text-white mt-4 rounded-top">
  <h1 class="text-capitalize text-center">manage your mind</h1>
  <h4 class="text-center">
    How to empower yourself to dig deep and achieve more.
  </h4>
</div>
<div class="p-3 bg-color-blue">
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <img src="./assets/img/impostor_3_tiny.png" alt="" width="150px" height="150px">
    </div>
    <div class="col-8">
      <h4 class="pb-3">Feel Like A Fraud?</h4>
      <p class="pb-3">Impostor Syndrome can happen to anyone. Learn some new techniques for dealing with your doubt.</p>
      <button class="btn btn-success text-white p-1 col-10">Know Your Worth</button>
    </div>
  </div>
</div>
<div class="p-3 bg-white">
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <img src="./assets/img/ai_managers_tiny.png" alt="" width="150px" height="150px">
    </div>
    <div class="col-8">
      <h4 class="pb-3">Hard Wire Your New Hire</h4>
      <p class="pb-3">Why the onset of artificial intelligence means manager skills are a must-have.</p>
      <button class="btn btn-success text-white p-1 col-10">Be A Robot Ruler</button>
    </div>
  </div>
</div>
<div class="p-3 bg-color-blue">
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <img src="./assets/img/inbox_zero_tiny.png" alt="" width="150px" height="150px">
    </div>
    <div class="col-8">
      <h4 class="pb-3">Guilty Of Email Fail?</h4>
      <p class="pb-3">Studies show Inbox Zero, a plan for total email annihilation, may not be helping at all.</p>
      <button class="btn btn-success text-white p-1 col-10">Get To Inbox Hero</button>
    </div>
  </div>
</div>
<div class="p-3 bg-white">
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <img src="./assets/img/hurry_worry_tiny.png" alt="" width="150px" height="150px">
    </div>
    <div class="col-8">
      <h4 class="pb-3">More Rush = More Fuss</h4>
      <p class="pb-3">Learn to diagnose your team's "hurry worry" stress symptoms and stop them before they spread.</p>
      <button class="btn btn-success text-white p-1 col-10">Slow Mo Or No Go</button>
    </div>
  </div>
</div>

