<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout :: headTag}"></head>
<body>
<div th:replace="~{/layout :: header-line}"></div>
<div th:replace="~{/layout :: banner}"></div>
<div th:replace="~{/layout :: navbar_menu}"></div>

<div class="container col-8">
    <form th:action="@{/employee/create}" method="POST" th:object="${employee}">
        <table class="table table-hover">
            <thead></thead>
            <tbody>
            <tr class="form-group">
                <h2 class="text-success text-uppercase">create employee</h2>
            </tr>
            <input type="hidden" class="form-control" th:field="*{employeeId}"/>
            <tr class="form-group">
                <td>Name employee:</td>
                <td>
                    <input type="text" class="form-control" th:field="*{employeeName}" required/>
                </td>
            </tr>
            <tr class="form-group">
                <td>Position:</td>
                <td>
                    <select th:field="*{position}" class="form-control">
                        <option th:each="optionPosition : ${position}"
                                th:value="${optionPosition.positionId}"
                                th:text="${optionPosition.positionName}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr class="form-group">
                <td>Division:</td>
                <td>
                    <select th:field="*{division}" class="form-control">
                        <option th:each="optionDivision : ${division}"
                                th:value="${optionDivision.divisionId}"
                                th:text="${optionDivision.divisionName}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr class="form-group">
                <td>Education Degree:</td>
                <td>
                    <select th:field="*{educationDegree}" class="form-control">
                        <option th:each="optionEdu : ${educationdegree}"
                                th:value="${optionEdu.educationDegreeId}"
                                th:text="${optionEdu.educationDegreeName}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr class="form-group">
                <td>ID card:</td>
                <td>
                    <input type="text" class="form-control" th:field="*{employeeIdCard}" placeholder="9 or 12 digits"
                           required/>
                    <p th:if="${#fields.hasErrors('employeeIdCard')}" th:errors="*{employeeIdCard}"
                       class="invalid-feedback"></p>
                </td>
            </tr>
            <tr class="form-group">
                <td>Email:</td>
                <td>
                    <input type="email" class="form-control" th:field="*{employeeEmail}" required/>
                    <p th:if="${#fields.hasErrors('employeeEmail')}" th:errors="*{employeeEmail}"
                       class="invalid-feedback"></p>
                </td>
            </tr>
            <tr class="form-group">
                <td>Phone:</td>
                <td>
                    <input type="text" class="form-control" th:field="*{employeePhone}" required
                           placeholder="090xxxxxxx, 091xxxxxxx, (84)+90xxxxxxx, (84)+91xxxxxxx"/>
                    <p th:if="${#fields.hasErrors('employeePhone')}" th:errors="*{employeePhone}"
                       class="invalid-feedback"></p>
                </td>
            </tr>
            <tr class="form-group">
                <td>Username:</td>
                <td>
                    <input type="hidden" th:field="*{user}"/>
                    <input type="text" class="form-control" name="inputUsername" required/>
                    <p th:if="${messUser}" th:text="${messUser}" class="invalid-feedback"></p>
                </td>
            </tr>
            <tr class="form-group">
                <td>Birthday:</td>
                <td>
                    <input type="date" class="form-control" th:field="*{employeeBirthday}" required/>
                    <p th:if="${#fields.hasErrors('employeeBirthday')}" th:errors="*{employeeBirthday}"
                       class="invalid-feedback"></p>
                </td>
            </tr>
            <tr class="form-group">
                <td>Address:</td>
                <td>
                    <input type="text" class="form-control" th:field="*{employeeAddress}" required/>
                </td>
            </tr>
            <tr class="form-group">
                <td>Salary:</td>
                <td>
                    <input type="number" class="form-control" th:field="*{employeeSalary}" required/>
                    <p th:if="${#fields.hasErrors('employeeSalary')}" th:errors="*{employeeSalary}"
                       class="invalid-feedback"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" class="btn btn-outline-info" action="action" onclick="history.go(-1);"
                           value="Back"/>
                </td>
                <td>
                    <button class="btn btn-outline-success btn-sm col-12" type="submit">
                        Create
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div th:replace="~{/layout :: script_link}"></div>
</body>
</html>