<div xmlns:th="http://www.thymeleaf.org">
    <table class="table table-hover">
        <thead></thead>
        <tbody>
        <tr class="form-group">
            <h2 class="text-danger text-uppercase">Delete</h2>
        </tr>
        <tr class="form-group">
            <td>ID</td>
            <td>
                <input type="text" class="form-control" disabled th:field="*{employeeDel.employeeId}"/>
            </td>
        </tr>
        <tr class="form-group">
            <td>Name:</td>
            <td>
                <input type="text" class="form-control" disabled th:field="*{employeeDel.employeeName}"/>
            </td>
        </tr>
        <tr class="form-group">
            <td>Position:</td>
            <td>
                <input type="text" class="form-control" disabled th:field="*{employeeDel.position.positionName}"/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <form th:action="@{/employee/delete}" method="POST">
                    <input type="hidden" name="customerId" th:value="${employeeDel.employeeId}"/>
                    <button class="btn btn-outline-danger btn-sm col-12" type="submit">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:replace="~{/layout :: script_link}"></div>
</div>
