<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout :: headTag}"></head>
<body>
<div th:replace="~{/layout :: header-line}"></div>
<div th:replace="~{/layout :: banner}"></div>
<div th:replace="~{/layout :: navbar_menu}"></div>

<div class="container">
    <div class="main_content col-12">
        <h1>List Employee</h1>
        <div th:replace="/layout :: notification"></div>
        <div th:replace="/layout :: nav-table-employee"></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>No</th>
                <th>ID</th>
                <th>Name</th>
                <th>Position</th>
                <th>Division</th>
                <th>Option</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="list,iterStat : ${employee}">
                <tr>
                    <td th:text="${iterStat.count}"></td>
                    <td class="font-weight-bold" th:text="${list.employeeId}"></td>
                    <td th:text="${list.employeeName}"></td>
                    <td th:text="${list.position.positionName}"></td>
                    <td th:text="${list.division.divisionName}"></td>
                    <td>
                        <button class="btnModalDetailEmployee btn btn-sm btn-outline-primary" type="button"
                                th:value="${list.employeeId}">
                            <i class="bi bi-eye"></i>
                        </button>
                        <a class="btn btn-sm btn-outline-warning"
                           th:href="@{/employee/viewEdit(id=${list.employeeId})}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <button class="btnModalDeleteEmployee btn btn-sm btn-outline-danger" type="button"
                                th:value="${list.employeeId}">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div class="row">
            <a class="btn btn-sm btn-outline-secondary rounded-pill"
               th:href="@{'/employee/'(page=${employee.number - 1})}"
               th:if="${employee.hasPrevious()}">
                <i class="bi bi-arrow-left-circle-fill"></i>
            </a>
            <p class="btn btn-sm btn-outline-secondary rounded-pill pl-5 pr-5 mb-0">
                <span th:text="${employee.number + 1}"></span>/<span th:text="${employee.totalPages}"></span>
            </p>
            <a class="btn btn-sm btn-outline-secondary rounded-pill"
               th:href="@{'/employee/'(page=${employee.number + 1})}"
               th:if="${employee.hasNext()}">
                <i class="bi bi-arrow-right-circle-fill"></i>
            </a>
        </div>
    </div>
</div>

<div th:replace="~{layout :: mini-footer}"></div>
<div th:replace="~{layout :: script_link}"></div>
<div th:replace="~{layout :: alert_script}"></div>
<div th:replace="~{layout :: employee_script}"></div>
<div th:replace="~{layout :: modal}"></div>
</body>
</html>